* {
    font-family: "Roboto", sans-serif;

}

html {
    height: 100%
}

body {
    background-size: fill;
    background-image: linear-gradient(rgb(0, 179, 255), rgb(146, 200, 217));
}

.top-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    
}

input button {
    width: 240px;
}
   
::placeholder {
    opacity: 1;
    color: black;
}

#location_input {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    background: white;
    
}

#date_input {
    border:solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
}

#confirm_date {
    background-color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Card {
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    background-size: fill;
    background-image: linear-gradient(rgb(0, 179, 255), rgb(15, 167, 213));
    width: 200px;
    border: solid, ;
    border-width:5px;
    border-color: black;
    border-radius: 10px;
}

#weather_code_heading {
    font-weight: 700;
}

#rest_of_location {
    font-weight: 700;
}

button {
    border: solid;
    border-radius: 10px;
    background-color: rgb(0, 179, 255);

}

button:hover {
    background-color: rgb(0, 179, 255);
    cursor: pointer;
    transition: .3s ease all;
    transform: translateY(-2px);
}

#temperature_heading_max {
    font-weight:700;
}

#temperature_heading_min {
    font-weight:700;
}